/*

  position: static
            relative | absolute | fixed | sticky

  offset properties
          top | right | bottom | left

  Un elemento posicionado tiene una referencia (contexto)

  relative: su referencia es su posicion              inicial.
  absolute: su referencia es su ancestro              posicionado más cercano.

  fixed: fijo (no se mueve con el scroll),         relativo al viewport.
         Se ignora en el flujo.
         Sus dimensiones automaticas se restringen a su contenido

  sticky: combinación de position relative y fixed.
*/

body {
  margin-top: 3rem;
}

h2 {
  position: sticky;
  top: 10px;
  background: #fff;
}
